body{
	margin: 0px;
	font-family: sans-serif;
	background-color: #a89fff;
}

header{
	float: left;
	width: 100%;
	background-color: blue;
}

nav{
	float: left;
	width: 100%;
}

nav > ul{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

ul.main-nav{
	float: left;
}

ul.logout-nav{
	float: right;
}

nav > ul > li{
	display: block;
	margin: 4px 0px;
}

ul.main-nav > li{
	float: left;
}

h1{
	margin-top: 0px;
}

nav a{
	text-decoration: none;
	background-color: blue;
	color: white;
	padding: 4px 5px;
	height: inherit;
}

nav a:hover{
	background-color: #9203ff;
	border-bottom: 1px solid #9203ff;
}

main{
	clear: both;
}

div.row{
	max-width: 50%;
	margin: auto;
	margin-top: 12px;
}

div.form{
	margin: auto;
	max-width: 75%;
}

p{
	text-align: center;
}

li.active > a{
	background-color: #549cda;
	border-bottom: 1px solid #549cda;
}

input[type='text'], input[type='password']{
	width: 100%;
}

input[type='submit']{
	width: 20%;
}

div.selector{
	text-align: center;
}

div.results{
	width: 50%;
	float: left;
}

div.voters{
	width: 50%;
	float: right;
}