body{
	margin: 0px;
	font-family: sans-serif;
}

header{
	float: left;
	width: 100%;
	background-color: blue;
}

nav{
	float: left;
	width: 100%;
}

nav > ul{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

ul.main-nav{
	float: left;
}

ul.login-nav{
	float: right;
}

nav > ul > li{
	display: block;
	margin: 4px 0px;
}

ul.main-nav > li{
	float: left;
}

ul.login-nav > li{
	float: right;
}

a{
	text-decoration: none;
	background-color: blue;
	color: white;
	padding: 4px 5px;
	height: inherit;
}

a:hover{
	background-color: red;
	color: black;
	border-bottom: 1px solid red;
}

main{
	clear: both;
}