<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel='stylesheet' type='text/css' href='style.css'/>
		<title>Election Central Ballot</title>
	</head>
	<body>
		<header>
			<nav>
				<ul class='main-nav'>
					<li><a href='index.html'>Home</a></li>
					<li>Vote</li>
				</ul>
			</nav>
		</header>
		<form name='voteForm' method='post'>
			<h1>Select one (1) candidate from the following:</h1>
			<input type='radio' name='candidate' id='candidate1'>
			<label for='candidate1'>Candidate 1</label>
			<input type='radio' name='candidate' id='candidate2'>
			<label for='candidate2'>Candidate 2</label>
		</form>
	</body>
</html>