{% extends "layout.html" %}
{% block title %}Election Central Results{% endblock %}
{% block end_active %}class='active'{% endblock %}
{% block content %}
	{% if prior_elections %}
	<div class='selector'>
		<form name='electionForm' method='get' action='election'>
			<p>To view the results of past elections, select an election and click "Submit"</p>
			<select name='prior_election'>
			{% for eid, election in prior_elections: %}
				<option value='{{ eid }}'>{{ election }}</option>
			{% endfor %}
			</select>
			<input type='submit'/>
		</form>
	</div>
	{% endif %}
	{% if current_election %}
	<div id="cur-election-container">
		<h1 class='title'>{{ current_election }}</h1>
	</div>
	{% endif %}
	<div class='results'>
		<table>
			{% if current_election %}
			<tr colspan='2'>
				<th class='title'>{{ current_election }}</th>
			</tr>
			{% endif %}
			<tr>
				<th>Candidate</th>
				<th>Votes Received</th>
			</tr>
		{% for candidate, total in results: %}
			<tr>
				<td>{{ candidate }}</td>
				<td>{{ total }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% if voted %}
	<div class='voters'>
		<p>Voted</p>
		<ul>
			{% for voter in voted: %}
			<li>{{ voter }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if notVoted %}
	<div class='voters'>
		<p>Did not vote</p>
		<ul>
			{% for voter in notVoted: %}
			<li>{{ voter }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	{% if error %}
	<span class='error'>{{ error }}</span>
	{% endif %}
{% endblock %}
