{% extends "layout.html" %}
{% block title %}Election Central Results{% endblock %}
{% block home_active %}{% endblock %}
{% block vote_active %}{% endblock %}
{% block regi_active %}{% endblock %}
{% block end_active %}class='active'{% endblock %}
{% block content %}
	<table>
		<tr>
			<th>Candidate</th>
			<th>Votes Received</th>
		</tr>
	{% for candidate, total in results: %}
	<tr>
		<td>{{ candidate }}</td>
		<td>{{ total }}</td>
	</tr>
	{% endfor %}
	</table>
{% endblock %}