<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel='stylesheet' type='text/css' href='css/style.css'>
		<title>{% block title %}{% endblock %}</title>
		{% block script %}{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<ul class='main-nav'>
					<li {% block home_active %}{% endblock %}><a href='/'>Home</a></li>
					{% if election_happening and logged_in %}
					<li {% block vote_active %}{% endblock %}><a href='vote'>Vote</a></li>
					{% elif not logged_in %}
					<li {% block regi_active %}{% endblock %}><a href='register'>Register</a></li>
					{% endif %}
					<li {% block end_active %}{% endblock %}><a href='election'>Election Results</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>