{% extends "layout.html" %}
{% block title %}Election Central Ballot{% endblock %}
{% block home-active %}{% endblock %}
{% block vote-active %}class='active'{% endblock %}
{% block regi-active %}class='disable'{% endblock %}
{% block content %}
		<form name='voteForm' method='post'>
			<h1>Select one (1) candidate from the following:</h1>
			{% for i in range (0, len(candidates)): %}
			<input type='radio' name='candidate' id='candidate{{ i }}'>
			<label for='candidate{{ i }}'>{{ candidates[i] }}</label>
			{% endfor %}
		</form>
{% endblock %}